
body {
    margin: 0;
    padding: 0;
}


/* ---- NAV BAR ---- */
.nav-container {
    display: flex;
    
    background-color: #1B1212;
    padding: 1rem;
}

.nav-bar{
    display: flex;
    align-items: center;
    list-style-type: none;
    
    
}

.nav-item {
    margin-right: 2rem;
    font-size: 18px;
    
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    color: cyan;
    text-decoration: underline;
}

.nav-header {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: 3rem;
    color: white;
    
}


/* ---- HERO CONTAINER ---- */

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2E5090;
    color: white;
    
}

.hero-title {
    margin-top: 4rem;
    font-size: 40px;
}

.hero-text {
    text-align: center;
    font-size: 24px;
}

.get-details-btn {
    border: 2px solid white;
    padding: 16px;
    padding-right: 70px;
    padding-left: 70px;
    border-radius: 5px;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 24px;
}

.get-details-btn a {
    text-decoration: none;
    color: white;
    display: block;

}

.get-details-btn:hover {
    background-color: black;
}


/* ---- CARD-HEADER */
.card-header-container  {
    background-color: #131516;
    color: white;
    text-align: center;
    
}

.card-header-container h1{ 
    margin: 0px;
    padding: 16px;
}

/* ---- CARD CONTAINER ---- */

.card-container{
    display: flex;
    justify-content: center;
    background-color: #131516;
    
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.card {
    
   background: #252525;
   width: 330px;
   height: 200px;
   border: 2px solid black;
   margin: 5px;
   
}

.card-text {
    margin-top: 0px;
}

.card:hover {
    opacity: 0.5;
}

